@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu&display=swap');

html,
body {
    overflow: auto;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.white-kitty {
    --accent-color: #aea794;
}

.main-container {
    max-width: 920px;
    margin: auto;
}

.column-container {
    overflow: auto;
}

.column-container > * {
    float: left;
    width: 50%;
    position: relative;
}

.preview {
    background-size: contain;
    border-radius: 0.5em;
}

.preview.white-kitty {
    background-image: url("../assets/white-kitty.png");
    width: 441px;
    height: 522px;
}

.header {
    text-align: center;
    padding: 4em 0;
}

.header h1 {
    font-size: 64px;
    font-family: "Lobster", cursive;
    font-weight: normal;
    color: var(--accent-color);
    margin: 0;
}

main h2 {
    color: var(--accent-color);
    font-weight: normal;
    font-size: 1.8em;
    font-family: "Lobster";
}